.avatar {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
